<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/registro_usuario"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegistroDeUsuario"
        tools:targetApi="31"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <service
            android:name=".DelayedMessageService"
            android:exported="false">
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCChvJYwdeu16x1JGQWXIHifXlMaxbT16g" />

        <activity
            android:name=".Maps"
            android:exported="false" />
        <activity
            android:name=".OldProposals"
            android:exported="false" />
        <activity
            android:name=".Administrator"
            android:exported="false" />
        <activity
            android:name=".Results"
            android:exported="false" />
        <activity
            android:name=".ProposalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserList"
            android:exported="false" />
        <activity
            android:name=".ProposalList"
            android:exported="false" />
        <activity
            android:name=".CreationProposal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_user" />
        <activity android:name=".MenuAdmin" />
        <activity android:name=".MenuUsuario" />
    </application>

</manifest>